@tailwind base;
@tailwind components;
@tailwind utilities;

.chewy {
    font-family: "Chewy", system-ui;
}
.figtree {
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
}

.game-bg-dots{
    background-image: url('./assets/wave-haikei.svg');
        background-attachment: fixed;
        background-size: cover;
}

.flex .ui.active.progress .bar::after {
  content: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    border-radius: .28571429rem;
    animation: progress-active 2s ease infinite;
}